# Data Science Tools and Ecosystem

This notebook aims to present the development of a final assignment that integrates essential skills in using Jupyter Notebook as a tool for data analysis.

**Objetives**
* Learn the popular languages for Data SCience
* Learn the common libraries used by Data Scientist
* Learn ariothmetics in Jupyter

Some of the popular languajes that Data Scientist use are:
1. Python
2. R
3. SQL
4. SAS
5. JULIA
6. SCALA
7. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-learn
4. Numpy
5. TensorFlow

| Data Science Tools      |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [32]:
# This is a simple arithmetic expression to multiply then 
# add integers
(3*4)+5

17

In [34]:
# This wil convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Autor
David Orlando Romero Soto